.main-bg {
  background-color: #2d7486;
  box-shadow: 0px 2px 4rem rgb(0 0 0 / 25%);
  padding-top: 6.4rem;
  padding-bottom: 3.2rem;
}

.slide-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  place-self: center;
  margin-bottom: 4.3rem;
}

.news1-text h1,
.news2-text h1,
.news3-text h1,
.news4-text h1,
.news5-text h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 4.2rem;
  color: #eeeeee;
  padding-bottom: 2rem;
  padding-left: 1rem;
}

.news1-text p,
.news2-text p,
.news3-text p,
.news4-text p,
.news5-text p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 2rem;
  color: #eeeeee;
  max-width: 40ch;
  padding-left: 1rem;
}

.news1-foto img,
.news2-foto img,
.news3-foto img,
.news4-foto img,
.news5-foto img {
  max-width: 650px;
  place-self: center;
  border-radius: 2rem;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background-color: #323030 !important;
}

.swiper-pagination-bullet-inactive-color {
  background: #323030 !important;
}

.swiper-pagination-bullet-active {
  background-color: #eeeeee !important;
}

.swiper-button-prev {
  color: #eeeeee !important;
}

.swiper-button-next {
  color: #eeeeee !important;
}

@media screen and (max-width: 1450px) {
  .news1-text h1,
  .news2-text h1,
  .news3-text h1,
  .news4-text h1,
  .news5-text h1 {
    font-size: 3.2rem;
  }

  .news1-text p,
  .news2-text p,
  .news3-text p,
  .news4-text p,
  .news5-text p {
    font-size: 1.6rem;
  }

  .news1-foto img,
  .news2-foto img,
  .news3-foto img,
  .news4-foto img,
  .news5-foto img {
    max-width: 450px;
  }
}

@media screen and (max-width: 1000px) {
  .news1-text h1,
  .news2-text h1,
  .news3-text h1,
  .news4-text h1,
  .news5-text h1 {
    font-size: 2.4rem;
  }

  .news1-text p,
  .news2-text p,
  .news3-text p,
  .news4-text p,
  .news5-text p {
    font-size: 1.4rem;
  }

  .news1-foto img,
  .news2-foto img,
  .news3-foto img,
  .news4-foto img,
  .news5-foto img {
    max-width: 327px;
  }

  .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
  }
}

@media screen and (max-width: 820px) {
  .slide-news {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: 2rem;
    place-self: center;
    margin-bottom: 4.3rem;
    order: grid;
  }

  .news1-text,
  .news2-text,
  .news3-text,
  .news4-text,
  .news5-text {
    order: 2;
  }
}

@media screen and (max-width: 466px) {
  .slide-news {
    place-items: center;
  }
  .swiper-button-prev {
    display: none !important;
  }

  .swiper-button-next {
    display: none !important;
  }
}
